/*--------------------------------------*/
/*            DEFAULT TAGS              */
/*--------------------------------------*/

BODY {
    background-image:url('images/bg.jpg');
    margin: 0px;
    padding: 0px;
    background-position: right top;
    background-repeat: no-repeat;
    background-color: white;
}

H1 {
    text-align: center;
}

/*--------------------------------------*/
/*            WCCHAT                    */
/*--------------------------------------*/

#wcchat {
    font-family: verdana;
    font-size: 14px;
    margin-top: 270px;
    color: black;
}

#wcchat FORM,
#wcchat div,
#wcchat INPUT,
#wcchat FIELDSET,
#wcchat HR,
#wcchat table td {
    border: 0;
    border-radius: 0;
    margin: 0;
    padding: 0;
    background-color: transparent;
}

#wcchat INPUT[type="submit"] {
    background-image: url('images/bt.png');
    border: 1px solid #ac939d;
    height: 27px;
    padding: 5px;
}

#wcchat INPUT[type="text"],
#wcchat INPUT[type="password"],
#wcchat TEXTAREA,
#wcchat SELECT { 
    padding: 5px;
    border: 1px solid #ac939d;
    background-color: white;
    margin: 0;
}

#wcchat .left_col {
    margin-bottom: 50px;
    margin-left: 50px;
    vertical-align: top;
    overflow: hidden;
}

#wcchat .left_col .static_msg {
    text-align: center;
    font-style: italic;
    padding: 5px;
    font-size: 16px;
    background-color: rgba(255, 255, 255, 0.6);
}

#wcchat .right_col {
    padding-bottom: 50px;
    padding-right: 30px;
    margin-right: 30px;
    margin-left: 5px;
    width:251px;
    vertical-align: top;
    padding: 5px;
    overflow: auto;
    float: right;
}

#wcchat .right_col .separator {
    border-bottom: 1px dotted #795e71;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 9px;
    text-align: right;
}

#wcchat .critical_error {
    border: 2px dashed #AAAAAA;
    margin: 20px;
    padding: 20px;
    background-color: white;
}

#wcchat .critical_error legend { 
    font-weight: bold;
}

#wcchat .center {
	text-align: center;
}

/*--------------------------------------*/
/*            CHAT TOPIC                */
/*--------------------------------------*/

#wcchat #wc_topic {
    background-color:rgba(201, 160, 200, 0.9);
    font-size: 12px;
    border: 1px solid #7b5f6a;
    color: #4c3649;
    line-height: 1.5em;
    padding: 5px 10px;
}

#wc_topic legend {
    background-color: #c9a0c8;
    border: 1px solid #895988;
    padding: 5px;
    font-weight: bold;
}

#wc_topic .pm {
    font-weight: normal;
}

#wc_topic .edit_bt_off {
    display: none;
}

#wc_topic .avatar {
    padding: 1px;
    border: 1px solid #7b5f6a;
    width: 15px
}

#wc_topic a.edit {
    font-size: 10px;
}

#wc_topic a.edit,
#wc_topic a.less,
#wc_topic a.more {
    font-size: 10px;
}

#wc_topic #wc_topic_editbox {
    padding: 10px;
}

#wc_topic_editbox TEXTAREA {
    padding: 5px;
    margin-top: 2px;
}

#wc_topic_editbox #bbcode {
    background-color: transparent;
}

#wc_topic_editbox #bbcode a {
    color: #72598e;
    text-decoration: none
}

#wc_topic_editbox .info {
    padding: 10px;
    font-size: 10px;
}

/*--------------------------------------*/
/*      CHAT MESSAGES CONTAINER         */
/*--------------------------------------*/

#wcchat #wc_msg_container {
    height: 400px;
    border-left: 1px dotted #a28299;
    border-right: 1px dotted #a28299;
    overflow: auto;
    font-size: 12px;
    padding: 5px;
    background-color: rgba(234, 220, 235, 0.6);
}

#wc_msg_container .updated_msg_note {
    font-style: italic;
    color: #888888;
    margin: 5px;
    text-align: center;
}

#wc_msg_container .updated_msg_container {
	text-align: center;
}

#wc_msg_container .bbcode {
    margin-top: 10px;
    margin-bottom: 5px;
}

#wc_msg_container .bbcode a {
    text-decoration: none;
}

#wc_msg_container .msg {
    padding: 5px;
    border-top: 1px dotted #a28299;
}

#wc_msg_container .msg_first {
    padding: 5px;
}

#wc_msg_container .msg_pm {
    padding: 5px;
    border-top: 1px solid #b78f9f;
    background-color: rgba(221, 198, 207, 0.6);
}

#wc_msg_container .msg_right_col {
    overflow: hidden;
    padding: 5px;    

}

#wc_msg_container .msg_pm .private {
    float: right;
    font-style: italic;
    font-size: 7pt;
    font-family: tahoma;
    margin: 0 0 3px 3px;
    color: #9a6d7f;
}

#wc_msg_container .msg .more,
#wc_msg_container .msg_pm .more,
#wc_msg_container .msg .less,
#wc_msg_container .msg_pm .less {
    font-style: italic;
    font-size: 10px;
    color: #888888;
    margin-left: 5px;
}

#wc_msg_container .msg .edit_tag,
#wc_msg_container .msg_pm .edit_tag {
    float: right;
    font-style: italic;
    font-size: 7pt;
    color: #888888;
    margin-left: 5px;
}

#wc_msg_container .msg .edit_bt_off,
#wc_msg_container .msg_pm .edit_bt_off {
    display: none;
}

#wc_msg_container .msg .edit_tag img,
#wc_msg_container .msg_pm .edit_tag img {
    margin-left: 5px;
}

#wc_msg_container .msg .editbox,
#wc_msg_container .msg_pm .editbox {
    width: 97%;
}

#wc_msg_container .msg .note,
#wc_msg_container .msg_pm .note {
    font-size: 9px;
    color: #888888;
}

#wc_msg_container .msg .timestamp,
#wc_msg_container .msg_pm .timestamp {

    font-size: 7pt;
    font-family: tahoma;
    color: #795e71
}

#wc_msg_container .msg .user,
#wc_msg_container .msg_pm .user {
    font-size: 10px;
    font-family: verdana;
    color: #6335bf;
    font-weight: bold
}

#wc_msg_container .msg .user a,
#wc_msg_container .msg_pm .user a {
    text-decoration: none;
}

#wc_msg_container .msg .user a:hover,
#wc_msg_container .msg_pm .user a:hover {
    color: #9469ea !important;
}

#wc_msg_container .msg .user a:visited,
#wc_msg_container .msg_pm .user a:visited {
    color: #6335bf;
}

#wc_msg_container .msg img.avatar_thumb,
#wc_msg_container .msg_pm img.avatar_thumb {
    padding: 1px;
    border: 1px solid #7b5f6a;
    margin: 5px 10px 0 10px;
    float: left;
}

#wc_msg_container .msg img.thumb,
#wc_msg_container .msg_pm img.thumb {
    padding: 1px;
    border: 1px solid #7b5f6a;
}

#wc_msg_container .msg img.mod_icon,
#wc_msg_container .msg_pm img.mod_icon {
    width: 10px;
}

#wc_msg_container .msg .thumb_container,
#wc_msg_container .msg_pm .thumb_container {
    text-align: center;
    font-size: 10px;
    margin: 10px;
}

#wc_msg_container .msg iframe,
#wc_msg_container .msg_pm iframe {
    margin: 10px;
    display: block;
    padding: 1px;
    border: 1px solid #ced9ea
}

#wc_msg_container .msg .msg_body,
#wc_msg_container .msg_pm .msg_body {
    margin-top: 5px;
    line-height: 1.5em;
}

#wc_msg_container .msg .event,
#wc_msg_container .msg .self {
    margin-left: 10px;
    line-height: 1.5em;
}

#wc_msg_container .msg .event {
    color: #64267c;
}

#wc_msg_container .msg .curr_user_ref,
#wc_msg_container .msg_pm .curr_user_ref {
    background-color: #dee7f4;
    padding: 3px;
}

#wc_msg_container .load_older_controls {
    padding:5px;
    text-align: center
}

#wc_msg_container #wc_older hr {
    border-bottom: 1px dashed #795e71;
    height: 1px;
}

#wc_msg_container .new_msg {
    margin: 5px;
    text-align: center;
}

#wc_msg_container .new_msg img {
    width: 300px;
}

#wc_msg_container .hide_icon_off {
    display: none;
}

#wc_msg_container .archived {
    float: right;
}

/*--------------------------------------*/
/*            GLOBAL SETTINGS           */
/*--------------------------------------*/

#wcchat #wc_global_settings {
    height: 400px;
    border-right: 1px dotted #a28299;
    border-left: 1px dotted #a28299;
    overflow: auto;
    font-size: 12px;
    padding: 15px;
    background-color: rgba(234, 220, 235, 0.6);
}

#wc_global_settings .header {
    text-align: center;
    font-size: 20px;
    margin: 10px;
}


#wc_global_settings div {
    margin: 10px;
}

#wc_global_settings span {
    font-size: 9px;
    color:#795e71
}

#wc_global_settings fieldset {
    font-size: 12px;
    margin: 10px;
    padding: 10px;
    border: 1px dashed #bc9aa9;
    background-color: rgba(225, 204, 214, 0.9);
}

#wc_global_settings fieldset legend {
    font-weight: bold;
}

#wc_global_settings table th {
    padding: 10px;
}

#wc_global_settings table th.first_col {
    width: 150px;
}

#wc_global_settings table td { 
    padding: 2px;
}

#wc_global_settings table td.check {
    text-align: center;
}

#wc_global_settings table th span {
    font-weight: normal;
    font-size: 9px;
}

#wc_global_settings .separator {
    border-bottom: 1px dotted #795e71;
}

#wc_global_settings input
{
    width: 50px;
}

#wc_global_settings input[id="gs_include_dir"],
#wc_global_settings input[id="gs_default_avatar"],
#wc_global_settings input[id="gs_default_room"],
#wc_global_settings input[id="gs_default_theme"],
#wc_global_settings input[id="gs_invite_link_code"],
#wc_global_settings input[id="gs_acc_rec_email"],
#wc_global_settings input[type="submit"] {
    width: 150px;
}

#wc_global_settings input[id="gs_title"],
#wc_global_settings input[id="gs_attachment_types"] {
    width: 300px;
}

#wc_global_settings input[name="cancel"] {
    width: 100px;
    float: right;
}

/*--------------------------------------*/
/*            USER LIST                 */
/*--------------------------------------*/


#wcchat #wc_ulist {
    padding: 5px;
    padding-bottom: 10px;
    height: 400px;
    overflow: auto;
    background-color: rgba(234, 220, 235, 0.7);
}


#wc_ulist .user_item,
#wc_ulist .user_item_pm,
#wc_ulist .user_item_msg_icon {
    font-size: 12px;
    margin: 3px;
    margin-left: 12px;
}

#wc_ulist .user_item_msg_icon { 
    margin-left: 0px;
}

#wc_ulist .user_item_pm {
    background-color: #e4d2e7;
    border-right: 2px solid #ba98b9;
}

#wc_ulist .user_item a,
#wc_ulist .user_item_pm a,
#wc_ulist .user_item_msg_icon a {
    text-decoration: none;
}

#wc_ulist .user_item a:hover,
#wc_ulist .user_item_pm a:hover,
#wc_ulist .user_item_msg_icon a:hover {
    text-decoration: underline;
}

#wc_ulist .user_item img,
#wc_ulist .user_item_pm img,
#wc_ulist .user_item_msg_icon img {
    padding: 1px;
    border: 1px solid #7b5f6a;
    margin-right: 5px;
}

#wc_ulist .user_item img.joined_on,
#wc_ulist .user_item_pm img.joined_on,
#wc_ulist .user_item_msg_icon img.joined_on {
    padding: 1px;
    border: 1px solid #7f8cac;
    border-top: 2px solid #08a52a;
}

#wc_ulist .user_item img.joined_idle,
#wc_ulist .user_item_pm img.joined_idle,
#wc_ulist .user_item_msg_icon img.joined_idle {
    padding: 1px;
    border: 1px solid #7f8cac;
    border-top: 2px solid #f28900;
}

#wc_ulist .user_item img.joined_na,
#wc_ulist .user_item_pm img.joined_na,
#wc_ulist .user_item_msg_icon img.joined_na {
    padding: 1px;
    border: 1px solid #7f8cac;
    border-top: 2px solid #c10707;
}

#wc_ulist .user_item img.web,
#wc_ulist .user_item img.edit_bt,
#wc_ulist .user_item_pm img.web,
#wc_ulist .user_item_pm img.edit_bt,
#wc_ulist .user_item_msg_icon img.web,
#wc_ulist .user_item_msg_icon img.edit_bt {
    padding: 1px;
    border: 0;
    vertical-align: middle;
}

#wc_ulist .user_item img.edit_bt_off,
#wc_ulist .user_item_pm img.edit_bt_off,
#wc_ulist .user_item_msg_icon img.edit_bt_off { 
    padding: 1px;
    border: 0;
    display: none;
}

#wc_ulist .user_item img.joined_icon,
#wc_ulist .user_item_pm img.joined_icon,
#wc_ulist .user_item_msg_icon img.joined_icon {
    width: 10px;
    border: 0;
}

#wc_ulist .user_item_msg_icon img.new_msg_icon,
#wc_ulist .user_item_msg_icon img.new_msg_icon_small {
    float: left;
    position: relative;
    left: 10px;
    top: 0px;
    border: 0;
    margin: 0;
    padding: 0;
}

#wc_ulist .user_item .moderator_icon,
#wc_ulist .user_item .muted_icon,
#wc_ulist .user_item_pm .moderator_icon,
#wc_ulist .user_item_pm .muted_icon,
#wc_ulist .user_item_msg_icon .moderator_icon,
#wc_ulist .user_item_msg_icon .muted_icon {
    vertical-align: middle;
    width: 10px;
    border: 0;
    margin-right: 0px;
}

#wc_ulist .guest {
    color: #7b5f6a;
    padding-left: 5px;
    font-size: 12px;
}

#wc_ulist .guest img {
    width: 12px;
}

#wc_ulist span {
    font-family: tahoma;
    font-size:7pt;
    color:#795e71
}

#wc_ulist .form_box {
    padding: 20px;
}

#wc_ulist .form_box div {
    margin: 10px;
}

#wc_ulist .form_box .menu {
    margin: 0px;
    margin-bottom: 20px;
}

#wc_ulist .form_box input[name="banned_time"],
#wc_ulist .form_box input[name="muted_time"] {
    width: 25px;
}

#wc_ulist .form_box input[name="delete"] {
    float: right;
}

/*--------------------------------------*/
/*            ROOM LIST                 */
/*--------------------------------------*/

#wcchat #wc_rooms {
    padding: 5px;
    background-color: rgba(234, 220, 235, 0.7);
}

#wc_rooms .current {
    font-weight: bold;
}

#wc_rooms #wc_croom_box {
    padding: 5px;
}

#wc_rooms .room_item {
    padding: 2px;
    font-size: 14px;
}

#wc_rooms .room_item .edit_bt_off,
#wc_rooms .create_link_off {
    display: none;
}

#wc_rooms .room_item span {
    padding: 0 3px 0 3px;
    border-radius: 10px;
    background-color: #edda95;
    border: 1px solid #ad953e;
    font-size: 9px;
    font-family: verdana
}

#wc_rooms .room_item a {
    text-decoration: none;
}

#wc_rooms .room_item a:hover {
    text-decoration: underline;
}

#wc_rooms #wc_room_create {
    font-size: 10px;
}

#wc_rooms .form_box {
    position: absolute;
    z-index:3;
}

#wc_rooms .form_box input[id="wc_room_name"] {
    width: 150px;
}

#wc_rooms .form_box div {
    margin: 5px;
}

/*--------------------------------------*/
/*            TOOLBAR                   */
/*--------------------------------------*/

#wcchat #wc_toolbar {
    background-color: #925291;
    color: white;
    padding: 5px;
    font-size: 12px;
}

#wc_toolbar a {
    color: #ced9ea;
    text-decoration: none
}

#wc_toolbar .joined_status {
    width: 10px;
    margin-left: 5px;
}

#wc_toolbar #wc_settings_icon {
    margin-left: 10px;
}

#wc_toolbar #wc_settings_icon img { 
    width: 13px;
}

#wc_toolbar #wc_commands {
    float: right;
    font-size: 10px;
    margin-left: 15px;
}

#wc_toolbar #wc_post_loader,
#wc_toolbar #wc_attachment_upl_icon {
    width: 16px;
}

/*--------------------------------------*/
/*            INPUT                     */
/*--------------------------------------*/

#wcchat #wc_text_input_field {
    width: 97%;
    background-color: #FFFFFF;
}

#wcchat #wc_submit {
    padding: 5px;
}

#wcchat .form_box, 
#wcchat .form_box_inner {
    font-size: 12px;
    margin: 5px;
    padding: 10px;
    border: 1px dashed #bc9aa9;
    background-color: rgba(225, 204, 214, 0.9);
}

/*--------------------------------------*/
/*            SETTINGS                  */
/*--------------------------------------*/

#wcchat #wc_settings_input {
    padding: 10px;
    margin: 10px;
    border: 1px dashed #bc9aa9;
    background-color: rgba(225, 204, 214, 0.9);
}


#wc_settings_input legend {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #bc9aa9;
    background-color: rgba(225, 204, 214, 0.9);
}

#wc_settings_input span {
    font-size: 9px;
}

#wc_settings_input div { 
    margin: 10px;
}

#wc_settings_input input[id="avatar"],
#wc_settings_input input[id="web"] {
    width: 250px;
}

/*--------------------------------------*/
/*            JOIN                      */
/*--------------------------------------*/

#wcchat #wc_join {
    text-align: center;
    padding: 20px;
    background-color: rgba(234, 220, 235, 0.6);
}

#wc_join a {
    font-size: 9px;
}

#wcchat #wc_pass_req {
    margin: 5px;
}

/*--------------------------------------*/
/*            AVATARS                   */
/*--------------------------------------*/

#wcchat #wc_avatar_form {
    border: 1px dotted #AAAAAA;
    padding: 10px;
}

#wc_avatar_form a {
    font-size: 10px;
    margin-left: 10px;
}

/*--------------------------------------*/
/*            ERROR MESSAGES            */
/*--------------------------------------*/

#wcchat .error_msg {
    color: #FF0000;
    margin: 5px;
}

/*--------------------------------------*/
/*            LOGIN SCREEN              */
/*--------------------------------------*/

#wcchat #wc_login_screen {
    border: 1px dashed #AAAAAA;
    padding: 15px;
}

#wc_login_screen FORM {
    text-align: center;
    margin: 5px
}

#wc_login_screen INPUT {
    padding: 5px;
}

#wc_login_screen .note {
    font-size: 9px;
    text-align: center;
}

/*--------------------------------------*/
/*            VISIBILITY                */
/*--------------------------------------*/

.closed {
    display: none;
}

/*--------------------------------------*/
/*            THEMES                    */
/*--------------------------------------*/

#wcchat .themes {
    padding-top: 20px;
    padding-bottom: 10px;
    text-align: center;
    background-color: rgba(234, 220, 235, 0.7);
}

/*--------------------------------------*/
/*            COPYRIGHT                 */
/*--------------------------------------*/
#wcchat .copyright_note {
    padding-bottom: 10px;
    font-size: 9px;
    text-align: center;
    background-color: rgba(234, 220, 235, 0.7);
}

/*--------------------------------------*/
/*            INFORMATION               */
/*--------------------------------------*/

#wcchat #wc_info {
    height: 400px;
    border-right: 1px dotted #a28299;
    border-left: 1px dotted #a28299;
    overflow: auto;
    font-size: 12px;
    padding: 15px;
    background-color: rgba(234, 220, 235, 0.6);
}

#wc_info .header {
    text-align: center;
    font-size: 20px;
    margin: 10px;
}

#wc_info .header2 {
    font-weight: bold;
    border-bottom: 1px dotted #5b5c7c;
}


#wc_info div {
    margin: 10px;
    line-height: 1.5em;
}

#wc_info span {
    font-size: 10px;
    color:#5b5c7c
}

#wc_info fieldset {
    border-top: 1px dotted #5b5c7c;
}

#wc_info fieldset legend {
    font-weight: bold;
}

#wc_info .curr_user_ref {
    background-color: #dee7f4;
    padding: 3px;
}